---
import StarIcon from "./ui/Star-icon.astro";
import Button from "./ui/Button.astro";
import programBlue from "../assets/img/program_blue.png";
import programRed from "../assets/img/program_red.png";
import programDisabled from "../assets/img/program_disabled.png";
import LockIcon from "./ui/lock-icon.astro";
---

<section class="programs-section" id="programs">
  <h2 class="programs-section__title">Три программы разного уровня</h2>
<br>  
<!--  <a href="#" class="link programs-section__link"
    >Хочу узнать больше о&nbsp;программах</a
  > -->
  <div class="programs">
    <div class="program program--first" style={`background-image: url(${programBlue.src});`}>
      <div class="program__header">
        <h3 class="programs__title">Скилл</h3>
      <div class="program__stars">
          <StarIcon width={42} height={42}  filled={true} />
          <StarIcon width={42} height={42}  />
          <StarIcon  width={42} height={42} />
        </div>
      </div>
      <div class="program__content">
        <ul class="program__list">
          <li>Проверь свой навык и стань увереннее за два часа</li>
        </ul>
      </div>
    </div>
    <div class="program program--second" style={`background-image: url(${programRed.src});`}>
      <div class="program__header">
        <h3 class="programs__title">Драйв</h3>
        <div class="program__stars">
          <StarIcon width={42} height={42} filled={true} />
          <StarIcon  width={42} height={42} filled={true} />
          <StarIcon  width={42} height={42} />
        </div>
      </div>
      <div class="program__content">
        <ul class="program__list">
          <li>Больше упражнений</li>
          <li>Выше сложность</li>
          <li>Вызов самому себе</li>
        </ul>
      </div>
    </div>
    <div
      class="program program--third"
      style={`background-image: url(${programDisabled.src});`}
    >
      <div class="program__header">
        <h3 class="programs__title">Скоро</h3>
        <div class="program__stars">
          <StarIcon width={42} height={42} filled={true} />
          <StarIcon  width={42} height={42} filled={true} />
          <StarIcon  width={42} height={42} filled={true} />
        </div>
      </div>
      <div class="program__content">
        <ul class="program__list">
          <li>Спортивное и экстримальное вождение</li>
          <li>100% наших знаний и души</li>
        </ul>
      </div>
      <LockIcon />
    </div>
    <!-- <div class="program program--second" style={`background-image: url(${programRed.src});`}>
            <div class="program__stars">
                <StarIcon filled={true}></StarIcon>
                <StarIcon filled={true}></StarIcon>
                <StarIcon filled={true}></StarIcon>
            </div>
            <h3 class="programs__title">Для опытных</h3>
            <ul class="wheel-list">
                <li>Больше упражнений. Больше драйва. Три часа боевого опыта</li>
            </ul>
        </div> -->
  </div>
  <Button isModal={true} style={"accent"}>Я готов, запишите меня</Button>
</section>

<style is:global>
  .prorgams-section__title {
    margin-bottom: 20px;
  }

  .program__stars {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    color: hsla(0, 0%, 100%, 1);
  }
  .link {
    margin-bottom: 36px;
  }
  .programs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(50vw - 666px);
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .programs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 458px;
    gap: 36px;
    margin-bottom: 40px;
  }

  .program {
    display: flex;
    flex-direction: column;
    padding: 40px 55px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: var(--color-primary);
    color: var(--color-contrast);
  }

  .program__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 72px;
  }

    .program__list > li {
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 22px;
      color: inherit;
  }

  .program__list > li + li {
      margin-top: 19px;
  }

  /* .program__list > li::before {
      content: "";
      flex-shrink: 0;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2Zm1.67 14h-3.34l-1.38 1.897.554 1.706A7.991 7.991 0 0 0 12 20c.871 0 1.71-.14 2.496-.397l.553-1.706L13.669 16h.001Zm-8.376-5.128-1.292.937L4 12c0 1.73.549 3.331 1.482 4.64h1.91l1.323-1.82-1.028-3.17-2.393-.778Zm13.412 0-2.393.778-1.028 3.17 1.322 1.82h1.91A7.964 7.964 0 0 0 20 12l-.003-.191-1.291-.937ZM14.29 4.333l-1.29.94V7.79l2.694 1.957 2.239-.727.554-1.703a8.014 8.014 0 0 0-4.196-2.984h-.001Zm-4.582 0a8.014 8.014 0 0 0-4.196 2.985l.554 1.702 2.239.727L11 7.79V5.273l-1.291-.94h-.001Z' fill='%23fff'/%3E%3C/svg%3E");
  } */

  .program__content {
    /* padding-left: 80px; */
   
  }

  .program__content + svg {
    margin-top: 30px;
  }

  .program--disabled {
    align-items: flex-start;
    padding-left: 80px;

  }

  .programs__title {
    color: inherit;
    line-height: 52px;
  }

  .program--first {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  }

  .program--second {
    color: #fff;
  }


  .program--third {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    background: linear-gradient(
        128.5deg,
        rgba(255, 255, 255, 0.5) -9.21%,
        rgba(255, 255, 255, 0) 40.28%
      ),
      #c9c9c9;
      background-repeat: no-repeat;
  }

  .program__disabled-title {
    color: #888888;
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .programs__subtitle {
    font-size: 24px;
    color: #888888;
    margin-bottom: 88px;
  }

  @media (max-width: 1023px) {
    .programs-section {
      padding: 100px 0px 90px;
    }
    .programs-section__title {
      padding: 0 40px;
      font-style: italic;
      font-weight: 700;
      font-size: 35px;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .programs-section__link {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      text-decoration-line: underline;
    }

    .programs {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
    }

    .program {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: calc(15% + 80px) 40px;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }

    .program__stars {
      justify-content: flex-start;
      align-self: flex-start;
    }


    .programs__title {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 33px;
      text-transform: uppercase;
    }

    .program__content {
      margin-right: 0;
    }

    .program--disabled {
      padding: 40px;
      margin-top: -50%;
      padding-top: 50%;
      clip-path: none;
      z-index: 1;
      padding-left: 80px;
      background: linear-gradient(
          128.5deg,
          rgba(255, 255, 255, 0.5) -9.21%,
          rgba(255, 255, 255, 0) 40.28%
        ),
        #c9c9c9;
    }
  }
</style>
