---
import StarIcon from "./ui/Star-icon.astro";
import Button from "./ui/Button.astro";
import programBlue from "../assets/img/program_blue.png";
// import programRed from  "../assets/img/program_red.png";
import programDisabled from "../assets/img/program_disabled.png";
import LockIcon from "./ui/lock-icon.astro";
---

<section class="programs-section">
  <h2 class="programs-section__title">Две программы разного уровня</h2>
  <a href="#" class="link programs-section__link"
    >Хочу узнать больше о&nbsp;программах</a
  >
  <div class="programs">
    <div class="program" style={`background-image: url(${programBlue.src});`}>
      <div class="program__stars">
        <StarIcon filled={true} />
        <StarIcon />
        <StarIcon />
      </div>
      <div class="program__content">
        <h3 class="programs__title">Для начинающих</h3>
        <ul class="wheel-list">
          <li>Меньше упражнений</li>
          <li>Больше времени отработки</li>
          <li>Крепче закрепить результат</li>
        </ul>
      </div>
    </div>
    <div
      class="program program--second program--disabled"
      style={`background-image: url(${programDisabled.src});`}
    >
      <h3 class="program__title">Скоро</h3>
      <LockIcon />
    </div>
    <!-- <div class="program program--second" style={`background-image: url(${programRed.src});`}>
            <div class="program__stars">
                <StarIcon filled={true}></StarIcon>
                <StarIcon filled={true}></StarIcon>
                <StarIcon filled={true}></StarIcon>
            </div>
            <h3 class="programs__title">Для опытных</h3>
            <ul class="wheel-list">
                <li>Больше упражнений</li>
                <li>Повышенная сложность</li>
                <li>Больше опыта и драйва</li>
            </ul>
        </div> -->
  </div>
  <Button href="#" style={"accent"}>Я готов, запишите меня</Button>
</section>

<style is:global>
  .prorgams-section__title {
    margin-bottom: 20px;
  }

  .programs__title {
    color: var(--color-contrast);
    margin-bottom: 22px;
  }

  .program__stars {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-bottom: 74px;
    color: hsla(0, 0%, 100%, 0.5);
  }
  .link {
    margin-bottom: 36px;
  }
  .programs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(50vw - 815px);
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .programs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 458px;
    gap: 42px;
    margin-bottom: 40px;
  }

  .program {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 47px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }

  .program__content {
    margin-right: 177px;
  }

  .program--disabled {
    align-items: flex-start;
    padding-left: 80px;
    background: linear-gradient(
        128.5deg,
        rgba(255, 255, 255, 0.5) -9.21%,
        rgba(255, 255, 255, 0) 40.28%
      ),
      #c9c9c9;
  }

  .program--second {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  }

  .program__title {
    color: #888888;
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
    text-transform: uppercase;
    margin-bottom: 88px;
  }

  @media (max-width: 1023px) {
    .programs-section {
      padding: 90px 0px;
    }
    .programs-section__title {
      padding: 0 40px;
      font-style: italic;
      font-weight: 700;
      font-size: 35px;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .programs-section__link {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      text-decoration-line: underline;
    }

    .programs {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
    }

    .program {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: calc(15% + 80px) 40px;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }

    .program__stars {
      justify-content: flex-start;
      align-self: flex-start;
    }

    .program__stars > * {
      width: 80px;
    }

    .programs__title {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 33px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    .program__content {
      margin-right: 0;
    }

    .program--disabled {
      padding: 40px;
      margin-top: -50%;
      padding-top: 50%;
      clip-path: none;
      z-index: 1;
      padding-left: 80px;
      background: linear-gradient(
          128.5deg,
          rgba(255, 255, 255, 0.5) -9.21%,
          rgba(255, 255, 255, 0) 40.28%
        ),
        #c9c9c9;
    }

    .program--disabled > svg {
        width: 102px;
        height: 102px;
    }

    .program--disabled .program__title {
      order: 2;
      margin-bottom: 0;
      margin-top: 18px;
      font-style: italic;
      font-weight: 700;
      font-size: 60px;
      line-height: 66px;
      text-transform: uppercase;
    }
  }
</style>
