---
import safetyIcon1 from "../assets/img/safety_icon1.png";
import safetyIcon2 from "../assets/img/safety_icon2.png";
import safetyIcon3 from "../assets/img/safety_icon3.png";
import safetyIcon4 from "../assets/img/safety_icon4.png";
import safetyCar from "../assets/img/safety_car.png";

import { Image } from "@astrojs/image/components";
---

<section class="safety-section">
  <h2 class="safety-section__title">Это безопасно</h2>
  <p class="safety-section__subtitle">Volkswagen polo 1.6 АКПП — неубиваемый снаряд</p>
  <div class="safety-blocks">
    <div class="safety-block">
      <div class="safety-block__icon">
        <Image src={safetyIcon1} alt="icon" />
      </div>
      <span class="safety-block__text"
        >Оборудован вторым комплектом педалей</span
      >
    </div>
    <div class="safety-block">
      <div class="safety-block__icon">
        <Image src={safetyIcon2} alt="icon" />
      </div>
      <span class="safety-block__text"
        >Тренер в машине на протяжении всей тренировки</span
      >
    </div>
    <div class="safety-block">
      <div class="safety-block__icon">
        <Image src={safetyIcon4} alt="icon" />
      </div>
      <span class="safety-block__text"
        >На специальном полигоне. Без&nbsp;лишних машин и людей</span
      >
    </div>
    <div class="safety-block">
      <div class="safety-block__icon">
        <Image src={safetyIcon3} alt="icon" />
      </div>
      <span class="safety-block__text"
        >Дешевле, чем на&nbsp;собственной&nbsp;машине</span
      >
    </div>
  </div>
  <Image src={safetyCar} alt="icon" class="safety-section__image" />
</section>

<style>
  .safety-section {
    padding: 90px 0;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("data:image/svg+xml,%3Csvg width='316' height='604' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m-51.631.497-293.205 603.269 660.518-3.268L-51.631.497Z' fill='%23DB3549'/%3E%3C/svg%3E");
  }
  .safety-section__title {
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 77px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .safety-section__subtitle {
    margin-bottom: 31px;
  }

  .safety-blocks {
    display: grid;
    grid-template-columns: repeat(2, 377px);
    column-gap: 24px;
    row-gap: 30px;
    margin-bottom: 50px;
  }

  .safety-block {
    display: flex;
    align-items: center;
  }

  .safety-block__icon {
    margin-right: calc(32px + 20px);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background-color: var(--color-accent);
    position: relative;
  }

  .safety-block__icon::after {
    content: "";
    position: absolute;
    right: -31px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 72px 32px 0 0;
    border-color: var(--color-accent) transparent transparent transparent;
  }

  .safety-block__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #646464;
  }

  .safety-section__image {
    max-width: 100%;
    object-fit: contain;
    transform: translateX(0);
  }

  @media (max-width: 1023px) {
    .safety-section__title {
      font-style: italic;
      font-weight: 700;
      font-size: 35px;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
    }

    .safety-section__subtitle  {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #646464;
        margin-bottom: 50px;
    }

    .safety-section {
        padding: 90px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
      background-position: left 79%;
      background-image: url("data:image/svg+xml,%3Csvg width='87' height='223' viewBox='0 0 87 223' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m86.487.659-250.323.906 109.652 220.779L86.487.659Z' fill='%23DB3549'/%3E%3C/svg%3E");       }

    .safety-blocks {
        grid-template-columns: 1fr;
    }
  }
</style>
<script>
      import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const carImage: HTMLElement = document.querySelector(".safety-section__image");

  gsap
    .from(carImage, {
      x: window.innerWidth,
      ease: "ease-out",
      scrollTrigger: {
        trigger: carImage,
        start: 'top bottom',
        end: 'center center',
        scrub: 1.5,
      }
    });
</script>