---
import safetyIcon1 from "../assets/img/safety_icon1.png";
import ratata from "../assets/img/ratata.svg";
import { Image } from "@astrojs/image/components";
import RoadIcon from "./ui/road-icon.astro";
import Road2Icon from "./ui/road2-icon.astro";
import Road3Icon from "./ui/road3-icon.astro";
import StarIcon from "./ui/Star-icon.astro";
---

<section class="two-days-section">
  <h2 class="two-days-section__title">
    1 день — и ты сможешь:
  </h2>
  <div class="ratata" />
  <div class="td-options">
    <div class="td-option td-option--newbee">
      <div class="td-option__stars">
        <StarIcon filled={true} width={37} height={38} />
      </div>
      <RoadIcon />
      <h3 class="td-option__label">Для начинающих</h3>
      <ul class="td-option__list">
        <li>Перестать бояться скорости</li>
        <li>Правильно сидеть в кресле водителя</li>
        <li>Эффективно разгоняться и тормозить</li>
      </ul>
    </div>
    <div class="td-option td-option--all">
      <div class="td-option__stars">
        <StarIcon filled={true} width={37} height={38} />
        <StarIcon filled={true} width={37} height={38} />
      </div>
      <Road2Icon />
      <h3 class="td-option__label">Для всех</h3>
      <ul class="td-option__list">
        <li><span>Снизить риск ДТП</span></li>
        <li><span>Меньше уставать за рулем</span></li>
        <li><span>Оценивать дорожные условия</span></li>
      </ul>
    </div>
    <div class="td-option td-option--expirienced">
      <div class="td-option__stars">
        <StarIcon filled={true} width={37} height={38} />
        <StarIcon filled={true} width={37} height={38} />
        <StarIcon filled={true} width={37} height={38} />
      </div>
      <Road3Icon />
      <h3 class="td-option__label">Для опытных</h3>
      <ul class="td-option__list">
        <li><span>Безопасно маневрировать на высокой скорости</span></li>
        <li><span>Смотреть на дорогу как автогонщик</span></li>
        <li><span>Совершить свой старт в автоспорте</span></li>
      </ul>
    </div>
  </div>
</section>

<style is:global>
  .ratata {
    position: absolute;
    left: 0;
    top: 135px;
    z-index: -1;
    width: 100%;
    height: 70px;
    background-position-x: 0;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2675 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.344.518h39.795l8.691 10.986-5.517 25.879-13.38 11.035H24.915l-3.271-3.027L16.418 70H.646L15.344.518ZM43.518 32.5l3.613-16.992-2.49-3.223H28.625l-5.176 24.317h15.088l4.98-4.102ZM113.049 70H95.764l-.88-14.404H75.843L68.957 70H53.869L88.342.518h18.31L113.049 70ZM93.273 16.094l-3.027 8.203-9.277 18.896H95.08l-1.123-18.896.098-8.203h-.782Zm48.926-1.905h-18.896l2.929-13.67h53.565l-2.881 13.671H158.02L146.203 70h-15.771l11.767-55.81ZM221.838 70h-17.285l-.879-14.404h-19.043L177.746 70h-15.088L197.131.518h18.31L221.838 70Zm-19.776-53.906-3.027 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.782Zm48.926-1.905h-18.896l2.929-13.67h53.565l-2.881 13.671h-18.896L254.992 70h-15.771l11.767-55.81ZM330.627 70h-17.285l-.879-14.404H293.42L286.535 70h-15.088L305.92.518h18.31L330.627 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.925-1.905h-18.896l2.93-13.671h53.564l-2.881 13.671h-18.896L363.781 70H348.01l11.767-55.81ZM439.416 70h-17.285l-.879-14.404h-19.043L395.324 70h-15.088L414.709.518h18.311L439.416 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.925-1.905H449.67L452.6.519h53.564l-2.881 13.671h-18.896L472.57 70h-15.771l11.767-55.81ZM548.205 70H530.92l-.879-14.404h-19.043L504.113 70h-15.088L523.498.518h18.311L548.205 70ZM528.43 16.094l-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.925-1.905h-18.896l2.93-13.671h53.564l-2.881 13.671h-18.896L581.359 70h-15.771l11.767-55.81ZM656.994 70h-17.285l-.879-14.404h-19.043L612.902 70h-15.088L632.287.518h18.311L656.994 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.881 13.671h-18.896L690.148 70h-15.771l11.768-55.81ZM765.783 70h-17.285l-.879-14.404h-19.043L721.691 70h-15.087L741.076.518h18.311L765.783 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.881 13.671h-18.896L798.938 70h-15.772l11.768-55.81ZM874.572 70h-17.285l-.879-14.404h-19.043L830.48 70h-15.087L849.865.518h18.311L874.572 70Zm-19.775-53.906-3.027 8.203-9.278 18.896h14.112l-1.124-18.896.098-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.881 13.671h-18.896L907.727 70h-15.772l11.768-55.81ZM983.361 70h-17.285l-.879-14.404h-19.043L939.27 70h-15.088L958.654.518h18.311L983.361 70Zm-19.775-53.906-3.027 8.203-9.278 18.896h14.112l-1.123-18.896.097-8.203h-.781Zm48.924-1.905h-18.895l2.93-13.671h53.565l-2.88 13.671h-18.9L1016.52 70h-15.78l11.77-55.81ZM1092.15 70h-17.28l-.88-14.404h-19.05L1048.06 70h-15.09L1067.44.518h18.31l6.4 69.482Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L1125.3 70h-15.77l11.77-55.81ZM1200.94 70h-17.29l-.87-14.404h-19.05L1156.85 70h-15.09L1176.23.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.79Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L1234.09 70h-15.77l11.77-55.81ZM1309.73 70h-17.29l-.88-14.404h-19.04L1265.64 70h-15.09L1285.02.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L1342.88 70h-15.77l11.77-55.81ZM1418.52 70h-17.29l-.88-14.404h-19.04L1374.43 70h-15.09L1393.81.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.67h53.57l-2.89 13.671h-18.89L1451.67 70h-15.77l11.77-55.81ZM1527.31 70h-17.29l-.88-14.404h-19.04L1483.21 70h-15.08L1502.6.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.13-18.896.1-8.203h-.78ZM1586.49 70h-17.29l-.88-14.404h-19.04L1542.39 70h-15.08L1561.78.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.13-18.896.1-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.56l-2.88 13.671h-18.89L1619.64 70h-15.77l11.77-55.81ZM1695.28 70h-17.29l-.88-14.404h-19.04L1651.18 70h-15.08L1670.57.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.13-18.896.1-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.56l-2.88 13.671h-18.89L1728.43 70h-15.77l11.77-55.81ZM1804.06 70h-17.28l-.88-14.404h-19.04L1759.97 70h-15.09L1779.36.518h18.31L1804.06 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.12l-1.13-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.89L1837.22 70h-15.77l11.76-55.81ZM1912.85 70h-17.28l-.88-14.404h-19.04L1868.76 70h-15.09L1888.15.518h18.31L1912.85 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.9L1946.01 70h-15.77L1942 14.19ZM2021.64 70h-17.28l-.88-14.404h-19.04L1977.55 70h-15.09L1996.94.518h18.31L2021.64 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.9L2054.8 70h-15.77l11.76-55.81ZM2130.43 70h-17.28l-.88-14.404h-19.05L2086.34 70h-15.09L2105.72.518h18.32L2130.43 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.9L2163.59 70h-15.78l11.77-55.81ZM2239.22 70h-17.28l-.88-14.404h-19.05L2195.13 70h-15.09L2214.51.518h18.31l6.4 69.482Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.9l2.93-13.67h53.57l-2.88 13.671h-18.9L2272.38 70h-15.78l11.77-55.81ZM2348.01 70h-17.29l-.87-14.404h-19.05L2303.92 70h-15.09L2323.3.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.79Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L2381.16 70h-15.77l11.77-55.81ZM2456.8 70h-17.29l-.88-14.404h-19.04L2412.71 70h-15.09L2432.09.518h18.31L2456.8 70Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L2489.95 70h-15.77l11.77-55.81ZM2565.59 70h-17.29l-.88-14.404h-19.04L2521.5 70h-15.09L2540.88.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L2598.74 70h-15.77l11.77-55.81ZM2674.38 70h-17.29l-.88-14.404h-19.04L2630.29 70h-15.09L2649.67.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.12-18.896.09-8.203h-.78Z' fill='%23F4F4F4'/%3E%3C/svg%3E");
  }
  .two-days-section__title {
    position: relative;
    padding: 0 calc(50vw - 590px);
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 77px;
    margin-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #46a5ff;
  }
  .two-days-section {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .td-option__stars {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 7px;
  }

  .td-options {
    position: relative;
    z-index: 1;
    padding: 0 calc(50vw - 590px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .td-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .td-option--newbee {
    background: #46a5ff;
    color: #fff;
  }

  .td-option__label {
    margin-top: 25px;
    margin-bottom: 30px;
    align-self: flex-start;
  }

  .td-option--newbee > .td-option__label {
    color: #fff;
  }

  .td-option--all {
    color: #9c9c9c;
    background: #fff;
    border: 1px solid #9c9c9c;
  }

  .td-option--all > .td-option__label {
    color: #9c9c9c;
  }

  .td-option--expirienced {
    background: #db3549;
    color: #fff;
  }

  .td-option--expirienced > .td-option__label {
    color: #fff;
  }

  .td-option__list {
    align-self: flex-start;
    padding: 0;
  }

  .td-option__list > li {
    list-style: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  .td-option__list > li + li {
    margin-top: 15px;
  }

  .td-option__list > li::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    color: #116abe;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.5 18.964 11.49-11.49 1.769 1.767-13.26 13.258-7.954-7.955 1.767-1.767 6.188 6.187Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  }

  .td-option--all .td-option__list > li::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.5 18.964 11.49-11.49 1.769 1.767-13.26 13.258-7.954-7.955 1.767-1.767 6.188 6.187Z' fill='%239c9c9c'/%3E%3C/svg%3E");
  }

  .td-option--expirienced .td-option__list > li::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.5 18.964 11.49-11.49 1.769 1.767-13.26 13.258-7.954-7.955 1.767-1.767 6.188 6.187Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  }

  @media (max-width: 1023px) {
    .two-days-section__title {
      font-size: 35px;
      line-height: 39px;
      text-align: center;
      padding: 0 40px;
    }

    .td-option {
      padding: 25px 20px;
    }

    .td-options {
      padding: 0 40px;
      grid-template-columns: 1fr;
    }

    .td-option__stars {
      justify-content: flex-start;
    }

    .td-option > svg {
      display: none;
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

      gsap.to('.ratata', {
      scrollTrigger: {
        scrub: true,
        trigger: '.ratata',
        // pin: true,
        start: "top bottom",
        end:"+=100%",
      },
      backgroundPositionX: -300
    });
</script>
