---
import safetyIcon1 from "../assets/img/safety_icon1.png";
import { Image } from "@astrojs/image/components";
import RoadIcon from "./ui/road-icon.astro";
import Road2Icon from "./ui/road2-icon.astro";
import Road3Icon from "./ui/road3-icon.astro";
import StarIcon from "./ui/Star-icon.astro";
---

<section class="two-days-section">
  <h2 class="two-days-section__title">1 день — и ты сможешь:</h2>
  <div class="td-options">
    <div class="td-option td-option--newbee">
      <div class="td-option__stars">
        <StarIcon filled={true} width={37} height={38} />
      </div>
      <RoadIcon />
      <h3 class="td-option__label">Для начинающих</h3>
      <ul class="td-option__list">
        <li>Перестать бояться скорости</li>
        <li>Правильно сидеть в кресле водителя</li>
        <li>Эффективно разгоняться и тормозить</li>
      </ul>
    </div>
    <div class="td-option td-option--all">
      <div class="td-option__stars">
        <StarIcon filled={true} width={37} height={38} />
        <StarIcon filled={true} width={37} height={38} />
      </div>
      <Road2Icon />
      <h3 class="td-option__label">Для всех</h3>
      <ul class="td-option__list">
        <li><span>Снизить риск ДТП</span></li>
        <li><span>Меньше уставать за рулем</span></li>
        <li><span>Оценивать дорожные условия</span></li>
      </ul>
    </div>
    <div class="td-option td-option--expirienced">
      <div class="td-option__stars">
        <StarIcon filled={true} width={37} height={38} />
        <StarIcon filled={true} width={37} height={38} />
        <StarIcon filled={true} width={37} height={38} />
      </div>
      <Road3Icon />
      <h3 class="td-option__label">Для опытных</h3>
      <ul class="td-option__list">
        <li><span>Безопасно маневрировать на высокой скорости</span></li>
        <li><span>Смотреть на дорогу как автогонщик</span></li>
        <li><span>Совершить свой старт в автоспорте</span></li>
      </ul>
    </div>
  </div>
</section>

<style is:global>
  .two-days-section__title {
    padding: 0 calc(50vw - 590px);
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 77px;
    margin-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #46a5ff;
  }
  .two-days-section {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
     }

  .td-option__stars {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 7px;
  }

  .td-options {
    padding: 0 calc(50vw - 590px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-position: center;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='70' viewBox='0 0 1920 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-168.656.518h39.795l8.691 10.986-5.518 25.879-13.378 11.035h-20.02l-3.271-3.027L-167.582 70h-15.772L-168.656.518Zm28.174 31.982 3.613-16.992-2.49-3.223h-16.016l-5.176 24.317h15.088l4.981-4.102Zm69.53 37.5h-17.284l-.88-14.404h-19.042L-115.043 70h-15.088L-95.658.518h18.31L-70.95 70Zm-19.775-53.906-3.027 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.782Zm48.926-1.905h-18.896l2.93-13.671h53.564l-2.881 13.671H-25.98L-37.797 70h-15.771l11.767-55.81ZM37.838 70H20.553l-.88-14.404H.632L-6.254 70h-15.088L13.131.518h18.31L37.838 70ZM18.062 16.094l-3.027 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.782Zm48.926-1.905H48.092L51.022.519h53.564l-2.881 13.671H82.809L70.992 70H55.221l11.767-55.81ZM146.627 70h-17.285l-.879-14.404H109.42L102.535 70H87.447L121.92.518h18.31L146.627 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.925-1.905h-18.896l2.93-13.671h53.564l-2.881 13.671h-18.896L179.781 70H164.01l11.767-55.81ZM255.416 70h-17.285l-.879-14.404h-19.043L211.324 70h-15.088L230.709.518h18.311L255.416 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.925-1.905H265.67L268.6.519h53.564l-2.881 13.671h-18.896L288.57 70h-15.771l11.767-55.81ZM364.205 70H346.92l-.879-14.404h-19.043L320.113 70h-15.088L339.498.518h18.311L364.205 70ZM344.43 16.094l-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.925-1.905h-18.896l2.93-13.671h53.564l-2.881 13.671h-18.896L397.359 70h-15.771l11.767-55.81ZM472.994 70h-17.285l-.879-14.404h-19.043L428.902 70h-15.088L448.287.518h18.311L472.994 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.881 13.671h-18.896L506.148 70h-15.771l11.768-55.81ZM581.783 70h-17.285l-.879-14.404h-19.043L537.691 70h-15.087L557.076.518h18.311L581.783 70Zm-19.775-53.906-3.028 8.203-9.277 18.896h14.111l-1.123-18.896.098-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.881 13.671h-18.896L614.938 70h-15.772l11.768-55.81ZM690.572 70h-17.285l-.879-14.404h-19.043L646.48 70h-15.087L665.865.518h18.311L690.572 70Zm-19.775-53.906-3.027 8.203-9.278 18.896h14.112l-1.124-18.896.098-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.881 13.671h-18.896L723.727 70h-15.772l11.768-55.81ZM799.361 70h-17.285l-.879-14.404h-19.043L755.27 70h-15.088L774.654.518h18.311L799.361 70Zm-19.775-53.906-3.027 8.203-9.278 18.896h14.112l-1.123-18.896.097-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.88 13.671h-18.897L832.516 70h-15.772l11.768-55.81ZM908.15 70h-17.285l-.879-14.404h-19.043L864.059 70h-15.088L883.443.518h18.311L908.15 70Zm-19.775-53.906-3.027 8.203-9.278 18.896h14.112l-1.123-18.896.097-8.203h-.781Zm48.926-1.905h-18.897l2.93-13.671h53.564l-2.88 13.671h-18.897L941.305 70h-15.772l11.768-55.81ZM1016.94 70h-17.286l-.879-14.404h-19.043L972.848 70H957.76L992.232.518h18.308l6.4 69.482Zm-19.776-53.906-3.027 8.203-9.278 18.896h14.112l-1.123-18.896.097-8.203h-.781Zm48.926-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L1050.09 70h-15.77l11.77-55.81ZM1125.73 70h-17.29l-.88-14.404h-19.04L1081.64 70h-15.09L1101.02.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L1158.88 70h-15.77l11.77-55.81ZM1234.52 70h-17.29l-.88-14.404h-19.04L1190.43 70h-15.09L1209.81.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9L1247.7.519h53.57l-2.89 13.671h-18.89L1267.67 70h-15.77l11.77-55.81ZM1343.31 70h-17.29l-.88-14.404h-19.04L1299.21 70h-15.08L1318.6.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.13-18.896.1-8.203h-.78ZM1402.49 70h-17.29l-.88-14.404h-19.04L1358.39 70h-15.08L1377.78.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.13-18.896.1-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.56l-2.88 13.671h-18.89L1435.64 70h-15.77l11.77-55.81ZM1511.28 70h-17.29l-.88-14.404h-19.04L1467.18 70h-15.08L1486.57.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.13-18.896.1-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.56l-2.88 13.671h-18.89L1544.43 70h-15.77l11.77-55.81ZM1620.06 70h-17.28l-.88-14.404h-19.04L1575.97 70h-15.09L1595.36.518h18.31L1620.06 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.12l-1.13-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.89L1653.22 70h-15.77l11.76-55.81ZM1728.85 70h-17.28l-.88-14.404h-19.04L1684.76 70h-15.09L1704.15.518h18.31L1728.85 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.9L1762.01 70h-15.77L1758 14.19ZM1837.64 70h-17.28l-.88-14.404h-19.04L1793.55 70h-15.09L1812.94.518h18.31L1837.64 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.9L1870.8 70h-15.77l11.76-55.81ZM1946.43 70h-17.28l-.88-14.404h-19.05L1902.34 70h-15.09L1921.72.518h18.32L1946.43 70Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.89l2.93-13.671h53.56l-2.88 13.671h-18.9L1979.59 70h-15.78l11.77-55.81ZM2055.22 70h-17.28l-.88-14.404h-19.05L2011.13 70h-15.09L2030.51.518h18.31l6.4 69.482Zm-19.77-53.906-3.03 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.78Zm48.92-1.905h-18.9L2068.4.519h53.57l-2.88 13.671h-18.9L2088.38 70h-15.78l11.77-55.81ZM2164.01 70h-17.29l-.87-14.404h-19.05L2119.92 70h-15.09L2139.3.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.1-8.203h-.79Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L2197.16 70h-15.77l11.77-55.81ZM2272.8 70h-17.29l-.88-14.404h-19.04L2228.71 70h-15.09L2248.09.518h18.31L2272.8 70Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L2305.95 70h-15.77l11.77-55.81ZM2381.59 70h-17.29l-.88-14.404h-19.04L2337.5 70h-15.09L2356.88.518h18.31l6.4 69.482Zm-19.78-53.906-3.02 8.203-9.28 18.896h14.11l-1.12-18.896.09-8.203h-.78Zm48.93-1.905h-18.9l2.93-13.671h53.57l-2.88 13.671h-18.9L2414.74 70h-15.77l11.77-55.81ZM2490.38 70h-17.29l-.88-14.404h-19.04L2446.29 70h-15.09L2465.67.518h18.31l6.4 69.482Zm-19.78-53.906-3.03 8.203-9.27 18.896h14.11l-1.12-18.896.09-8.203h-.78Z' fill='%23F4F4F4'/%3E%3C/svg%3E");
    /* grid-auto-rows: 500px; */
  }

  .td-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .td-option--newbee {
    background: #46a5ff;
    color: #fff;
  }

  .td-option__label {
    margin-top: 25px;
    margin-bottom: 30px;
    align-self: flex-start;
  }

  .td-option--newbee > .td-option__label {
    color: #fff;
  }

  .td-option--all {
    color: #9c9c9c;
    background: #fff;
    border: 1px solid #9c9c9c;
  }

  .td-option--all > .td-option__label {
    color: #9c9c9c;
  }

  .td-option--expirienced {
    background: #db3549;
    color: #fff;
  }

  .td-option--expirienced > .td-option__label {
    color: #fff;
  }

  .td-option__list {
    align-self: flex-start;
    padding: 0;
  }

  .td-option__list > li {
    list-style: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  .td-option__list > li + li {
    margin-top: 15px;
  }

  .td-option__list > li::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    color: #116abe;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.5 18.964 11.49-11.49 1.769 1.767-13.26 13.258-7.954-7.955 1.767-1.767 6.188 6.187Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  }

  .td-option--all .td-option__list > li::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.5 18.964 11.49-11.49 1.769 1.767-13.26 13.258-7.954-7.955 1.767-1.767 6.188 6.187Z' fill='%239c9c9c'/%3E%3C/svg%3E");
  }

  .td-option--expirienced .td-option__list > li::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.5 18.964 11.49-11.49 1.769 1.767-13.26 13.258-7.954-7.955 1.767-1.767 6.188 6.187Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  }

  @media(max-width: 1023px) {
    .two-days-section__title {
        font-size: 35px;
        line-height: 39px;
        text-align: center;
        padding: 0 40px;
    }

    .td-option {
      padding: 25px 20px;
    }

    .td-options {
        padding: 0 40px;
        grid-template-columns: 1fr;
    }

    .td-option__stars {
        justify-content: flex-start;
    }
    
    .td-option > svg {
        display:  none;
    }
  }
</style>
